div>h3{color:#ae6639;font-style:normal}
div p{color:#ae6639;font-style:normal;font-size:larger;text-align: justify}
li>a{color:#000148;font-style:normal}
.nav a{color:#7e82eb;font-style:normal;font-size:large}
